<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rural Services</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Add custom styles here */
  </style>
</head>
<body>

<!-- Page Content -->
<div class="container mt-5">
  <h1 class="mb-4">Our Services</h1>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="service1.jpg" class="card-img-top" alt="Service 1">
        <div class="card-body">
          <h5 class="card-title">Land Disputes</h5>
          <p class="card-text"></p>
          <a href="landdispute.html" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
          <img src="service1.jpg" class="card-img-top" alt="Service 1">
          <div class="card-body">
            <h5 class="card-title">Agricultural Support</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="service2.jpg" class="card-img-top" alt="Service 2">
        <div class="card-body">
          <h5 class="card-title">Healthcare Assistance</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="service3.jpg" class="card-img-top" alt="Service 3">
        <div class="card-body">
          <h5 class="card-title">Educational Programs</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>